{% extends 'base.html.twig' %}

{% block title %}ShopMe - Cart{% endblock %}

{% block body %}
    <div class="space-between">
        <h1>Acquire your products</h1>
        <div class="align-right margin">
            <form action="{{ path('place-order') }}" method="POST">
                <button class="btn btn-outline-light" type="submit">
                    <i class="fa-solid fa-flag-checkered"></i> Place Order
                </button>
            </form>
        </div>
    </div>

    <div class="product-list">
        {% for product in products %}
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ product.title }}
                    </h5>
                    <p class="card-text">
                        <div>
                            {{ product.description }}
                        </div>
                        <div class="align-right">
                            ${{ product.price }}
                        </div>

                        <p class='green-text product-quantity{{ product.id }}'>Quantity: {{ product.quantity }}</p>
                    </p>
                    <div class="space-between">
                        <a href="#" class="btn btn-outline-light">Details</a>
                        <div class="center-div">
                            <form action="{{ path('remove-from-cart', {'productId': product.id}) }}" method="POST">
                                <div class="center-div">
                                    <div class="select-quantity">
                                            <label for="quantity_{{ product.id }}">Quantity:</label>
                                            <select name="quantity" id="quantity_{{ product.id }}">
                                                {% for i in 1..product.quantity %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-light remove-from-cart " data-product-id="{{ product.id }} old-quantity="{{ product.quantity }}">
                                            <i class="fa-solid fa-trash red-text"></i> Remove
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class='center-div'>
                <h4 class="">Your cart is empty.</h4>
            </div>
        {% endfor %}

    </div>



    <style>
        .card{
            display:flex;
            justify-content: center;
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .align-right{
            display: flex;
            justify-content: end;
        }
        .margin{
            margin-top: 10px;
            margin-right: 10px;
        }

        .select-quantity{
            margin: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .red-text{
            color: var(--color-red);
        }
    </style>
{% endblock %}
