{% extends 'base.html.twig' %}

{% block body %}
    <div class="form ">
        <div class="half">
            <h1 class="title">New Product</h1>
        </div>

        <div class="inputs half">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.stock) }}
            {{ form_row(form.active) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div>
    <h1>All products</h1>

    {% if products is not empty %}
        <div class="center-div m-2">
            <form action="{{ path('products') }}" method="get" class="search-input">
                <div>

                    <input type="text" name="q" placeholder="Search products" value="{{ searchTerm }}">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="product-list">
            {% for item in products %}
                <div class="card bg-dark text-white">

                </div>

                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ item.title }}
                        </h5>
                        <p class="card-text">
                        <div>
                            {{ item.description }}
                        </div>
                        <div class="align-right">
                            ${{ item.price }}
                        </div>

                        {% if item.stock >= 1 %}
                            <p class='green-text'>In stock: {{ item.stock }}</p>
                        {% else %}
                            <p class='red-text'>Out of stock</p>
                        {% endif %}
                        </p>
                        <div class="space-between">
                            <!-- Delete Button -->
                            <div>
                                <form method="post" action="{{ path('product_delete', { id: item.id }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                    <button class="btn btn-outline-light">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                            </div>
                            <!-- Update Quantity Button -->
                            <div class="center-div">
                                <form method="post" action="{{ path('product_update_quantity', { id: item.id }) }}" class="center-div">
                                    <div class="select-quantity">
                                        <label for="quantity_{{ item.id }}">Quantity:</label>
                                        <select name="quantity" id="quantity_{{ item.id }}">
                                            {% for i in 0..1000 %}
                                                <option value="{{ i }}" {% if i == item.stock %}selected{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="btn btn-outline-light">
                                        <i class="fas fa-shopping-cart"></i> Update Quantity
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class='center-div'>
                    <h4 class="">No products found matching "{{ searchTerm }}".</h4>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No products found.</p>
    {% endif %}
    </div>
    <style>
        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-bg-contrast);
            height: 40%;
            width: 98%;
            border-radius: 10px;
            margin: 1% 0.5%;
            min-height: 500px;
            min-width: 850px;
            font-size: 25px;
        }

        .title{
            font-size: 52px;
            width: 20%;
            margin-left: 10px;
        }

        .inputs, form div{
            display: flex ;
            justify-content: center ;
            align-items: center ;
            padding: 5px 5px;
        }

        .card{
            display:flex;
            justify-content: center;
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 10px;
        }

        .align-right{
            display: flex;
            justify-content: end;
        }

        .select-quantity{
            margin: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .red-text{
            color: var(--color-red);
        }

        .search-input{
            width: 80%;
            display:flex;
            justify-content: center;
        }
        .search-input div{
            width:100%;
        }
        .search-input input{
            width:80%;
        }
        .search-input button{
            min-width: 7%;
            width: 15%;
            max-width:15%;
        }
        .new-product-div{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

