{% extends 'auth/base-non-auth.html.twig' %}

{% block head %}
<style>
    .half{
        width: 50%;
    }

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-bg-contrast);
        height: 40%;
        width: 60%;
        border-radius: 10px;
        margin: 12.5% 0.5%;
        min-height: 500px;
        min-width: 850px;
        font-size: 25px;
    }

    .title{
        font-size: 72px;
    }

    .login-inputs, form div{
        display: flex ;
        justify-content: center ;
        align-items: center ;
        align-content: center ;
        width: 100% ;
    }

    .required{
        min-width: 50%;
    }

    .redirect{
        font-size: 15px;
        color: var(--color-accent);
    }
</style>
{% endblock %}

{% block body %}
<div class="center-div form">
    <div class="half center-div">
        <div class="title">Login</div>
    </div>
    <div class="half">
        <div class="login-inputs">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
        </div>
        <div class="center-div">
            <button type="submit">Login</button>
        </div>
        <div class="center-div">
            <a class='redirect' href="{{ path('register') }}">New user? Create an account!</a>
        </div>
        {{ form_end(form) }}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger center-div">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success center-div">{{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
